body {
    text-align: justify;
    text-justify: inter-word;
    font-family: Verdana, Geneva, sans-serif;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.mt-65px {
    margin-top: 65px;
}

.page-title {
    //background-color: lightgrey;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    height: 35px;
}

.page-title h1 {
    font-size: 1.8rem;
    border-bottom: 2px solid black;
    font-style: italic;
}

// ====================================================================================== //
// === DATA TABLES ====================================================================== //
// ====================================================================================== //
.dt-th {
    display: flex;
}
.dt-th > span {
    width: 100%;
}

.dt-sort {
    display: flex;
    //width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.dt-sort::before {
    right: 1em;
    content: "↑";
    opacity: 0.3;
}
.dt-sort::after {
    right: 0.5em;
    content: "↓";
    opacity: 0.3;
}

.dt-sort-asc::before {
    opacity: 1;
}
.dt-sort-desc::after {
    opacity: 1;
}

.table-responsive {
    overflow: hidden;
}

.table-responsive > .mobile {
    display: none !important;
}

@media only screen and (max-width: 750px) {
    .basic-filter-container {
        justify-content: right;
    }
    .basic-filter-container > input {
        width: 100% !important;
    }
    .basic-filter-container > div {
        margin-top: 5px;
        display: flex;
        flex-direction: row-reverse;
    }
}

@media only screen and (max-width: 950px) {
    .table-responsive > .desktop {
        display: none !important;
    }

    .table-responsive > .mobile {
        display: table !important;
    }
}
