<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">DAA-Frontend</a>
        <button class="navbar-toggler" type="button" aria-controls="navbar-authorized_collapse" aria-expanded="false"
            aria-label="Toggle navigation" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar-authorized_collapse" class="collapse navbar-collapse" #collapse="ngbCollapse"
            [(ngbCollapse)]="isCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home"
                        routerLinkActive="active">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/scores"
                        routerLinkActive="active">Puntuaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/videogames"
                        routerLinkActive="active">Videojuegos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/platforms"
                        routerLinkActive="active">Plataformas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>